@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('icons/beautiful-view-mountains-covered-snow-annapurna-conservation-area-chhusang-nepal.jpg');
    background-size:cover;
    background-repeat: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    display: flex;
    padding-top: 15em;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 10em;
    height: 2em;
    border-radius: 30px;
    border: none;
    text-align: center;
}

input::placeholder {
    color: white;
}

div.input {
    position: relative;
    top: -160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: transform 250ms, opacity 400ms;
    justify-content: center;
    gap: 2em;
}

div.input:hover {
    transform: scale(1.2);
}

div#informacoes {
    visibility:hidden;
}


button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.infos {
    font-weight: 400;
    gap: 3em;
    font-size: 1.15em;
}

div#informacoes {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 7, 66));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 16em;
    width: 100em;
    height: 10em;
}


@media screen and (max-width:440px) {

    .input {
        gap: 1em;
    }

    .content {
        padding-top: 11em;
        flex-direction: column;
    }
    .infos {
        font-size: 1.3em;
        gap: 0.5em;
    }
    div#informacoes {
        background-image: none;
        top: 0em;
        flex-direction: column;
    }
    div.input:hover {
        transform: none;
    }
}