@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ESSENTIALS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
    overflow-x:hidden;
}

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bf19ff;
    border-radius: 12px;
  }

  
  .reveal{
    position: relative;
    transform: translateX(-2em);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateX(0);
    opacity: 1;
  }

html {
    color: black;
	scroll-behavior: smooth;
}


/*APRESENTAÇÃO*/

p {
    font-weight: 300;
}

div#text {
    background-color: black;
    height: 40rem;
    overflow-y: hidden;
    max-width: 95em;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 4em;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    transition: 1.0s;
    color: #bf19ff;
}

.navbar {
    display: flex;
    padding-top: 2rem;
    padding-right: 3rem;
    justify-content:right;
    gap: 2rem;
}

.title {
    font-size: 1.5em;
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 5em;
    width: fit-content;
}

/*SOBRE*/

.about {
    color: black;

}   

.about-photo {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#photo {
    width: 30rem;
}

.color-highlight {
    color: #bf19ff;
}


/* PROJETOS */


#projetos {
    background-color: #3fffb8;
}


.container-projects {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    overflow-y: hidden;
    padding-top: 1em;
    gap: 1.5rem;
}

.itens {
    transition: all 0.3s;
    cursor: pointer;
  }

.itens:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: brightness(100%);
}

.itens img {
    transition: all 0.3s;
    filter: brightness(50%);
    width: 17rem;
    height: 10rem;
}

.itens figcaption {
    position: relative;
    top: -4em;
    font-size: 25px;
    color: rgb(255, 255, 255);
    z-index: 2;
  }

.github {
    transition: 1.2s;
    color: black;
}


#footer {
    background-color: black;
}

.social-links {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 1em;
}


/* CONTATO */
div#contato {
    height: 32em;
    background-color: #ffffff;
}
.form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    left: 27em;
    font-size: 1.25rem;
    gap: 0.5em;
}

.form label,
.form input,
.form textarea,
.form button {
    color: black;
}

.form label {
    text-align: left;
}

.form input {
    border: none;
    border-bottom: 0.1em solid black;
    outline: 0;
    height: 2em;
    background-color: transparent;
}

.form textarea {
    height: 7em;
    border: 0.1em solid black;
    outline: 0;
    background-color: transparent;
}

.form textarea::placeholder {
    color: black;
}


.form button {
    transition: 1s;
    background-color: transparent;
    border: 0.05em solid black;
    border-radius: 0.7em;
    font-size: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 2em;
    cursor: pointer;
}


.aaa {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

/*MODA*/

.janela-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009f;
    display: none;
    justify-content: center;
    align-items: center;    
    z-index: 99;
}

.janela-modal.abrir {
    display: flex;
}

.modal {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    text-align: center;
    border-radius: 5em;
    background-color: #38383894;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 3em;
}

.fechar {
    position: fixed;
    top: 2em;
    right: 3.5em;
    width: 2em;
    height: 2em;
    background-color: red;
    border: 0;
    font-size: 1em;
    border-radius: 5em;
}

.itens-languages {
    display: flex;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

iframe {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 30em;
    height: 20em;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -1em, -2em)
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirmodal 0.5s;
}

@media screen and (max-width: 1255px) {
    .modal {
        width: 80%;
    }    
}


@media screen and (max-width: 520px) {
    .modal {
        width: 80%;
    }    

    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 441px) {
    .title {
        margin-top: 3em;
    }
    .container-projects { 
        flex-direction:column;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar {
        padding-right: 1em;
    }
    .title {
        margin-left: 2em;
        font-size: 1.3em;
    }
  }

  @media screen and (max-width: 390px) {
    .modal {
        width: 90%;
    }    
}

    @media screen and (max-width: 320px) {
        .modal {
            width: 100%;
        }
    }