.flex {
    display: flex;
    gap: .75rem
}

.rounded {
    display: inline-block;
    position: relative;
    overflow: hidden; /* Para garantir que a imagem não ultrapasse o contêiner */
    border: 0 solid rgb(39, 39, 42);
    border-width: 0.1rem;
    border-radius: 1rem;
    transition: transform 0.3s;
}

.rounded:hover {
    transform: scale(1.05);
}

.pageImg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: .3;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    transition: opacity 0.3s;
}

.pageImg:hover {
    opacity: .5;
}

.absolute {
    position: absolute;
    margin: .6rem;
    line-height: 0;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.btn {
    border: none;
    border-radius: .2rem;
    display: flex;
    padding: .3rem;
}

p {
    font-size: 1rem;
    font-weight: 200;
    color: white;
}
@media screen and (max-width: 1025px) {
    .flex {
        flex-direction: row;
        flex-wrap: wrap
    };
    .rounded {
        width: 47.5%;
    }
}
